html {
    height: 100%;
    margin: 0px;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    min-height: 100%;
}

h1 {
    text-align: center;
}

input,
button {
    padding: 0.6em 1.2em;
    border-radius: 8px;
    border: 1px solid;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.2s;
    box-sizing: border-box;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
}

.container {
    display: flex;
    height: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.bottom {
    margin-top: auto;
    margin-left: auto;
}

.patch-progress {
    width: 100%;
}

.patch-msg {
    min-height: 1.5em;
}

.patch-io-grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: max-content auto;
    margin-bottom: 8px;
    justify-items: end;
    align-items: center;
}

.patch-io-grid span {
    display: flex;
    justify-content: end;
}

.patch-io-span {
    white-space: nowrap;
    font-family: monospace, monospace;
}

.input-grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: max-content auto min-content;
    margin-bottom: 8px;
    align-items: center;
}

.input-grid label {
    display: flex;
    justify-content: end;
}

#create-patch-path-msg {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: end;
}

#install-form>button[type="submit"] {
    margin-left: 4px;
    font-size: 1.5rem;
}