.tab-list {
    border-color: #ccc;
}

.tab-list .tab-link {
    background-color: transparent;
    color: black;
    box-shadow: none;
}

.tab-list .tab-link span {
    background-color: #e4e4e4;
    border-color: #ccc;
    transition: border-color 0.2s;
}

.tab-list .tab-link:hover span {
    border-color: #396cd8;
}

.tab-list .tab-link.active span {
    background-color: #fff;
    border-color: #888;
    border-right-color: transparent;
}

@media (prefers-color-scheme: dark) {
    .tab-list {
        border-color: #444;
    }
    
    .tab-list .tab-link span {
        background-color: #0f0f0f98;
        border-color: #444;
        color: #f6f6f6;
    }
    
    .tab-list .tab-link.active span {
        border-color: #ddd;
        background-color: #2f2f2f;
        border-right-color: transparent;
    }
  }
  