.tab-list {
    display: flex;
    flex-direction: column;
    width: max-content;
    float: left;
    min-height: 100%;
    border-right: 2px solid;
}

.tab-list .tab-link {
    padding: 1px 0px;
    padding-left: 1px;
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
}

.tab-list .tab-link span {
    display: block;
    padding: 20px 12px;
    border: 2px solid;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.tab-body {
    display: none;
    height: 100%;
}

.tab-body.visible {
    display: block;
}